<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="no-js" lang="fa" dir="rtl" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="دفترخانه ازدواج ۱۳۲ و طلاق ۶۷ تهران، سردفتر امیر وکیلیان" />
  <meta name="keywords" content="دفترخانه,ازدواج,طلاق,تهران,سردفتر,امیر,وکیلیان" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
دفترخانهٔ ازدواج ۱۳۲ و طلاق ۶۷ تهران، سردفتر امیر وکیلیان
  </title>
  <link rel="stylesheet" href="{{site.url}}/foundation/stylesheets/app.css" />
  <script src="{{site.url}}/foundation/bower_components/modernizr/modernizr.js"></script>
</head>

<body>
  <div class="row">
    <div class="large-9 medium-9 small-9 columns banner">
      <h1>دفترخانه ازدواج ۱۳۲ و طلاق ۶۷ تهران</h1>
    </div>
    <div class="large-3 medium-9 small-9 columns">
      <h1>سردفتر امیر وکیلیان</h1>
    </div>
  </div>

  <div class="row">
      <p>{{content}}</p>
  </div>

  <div class="row">
    <div class="large-4 medium-4 small-4 columns">
      <div class="panel">
        <h2>فهرست</h2>
          <ul>
            <li><a href="{{site.url}}/">صفحهٔ اصلی</a></li>
            <li>ازدواج
              <ul>
                <li><a href="{{site.url}}/azmayesh">آزمایش</a></li>
                <li><a href="{{site.url}}/shorout">شرایط ضمن عقد</a></li>
                <li><a href="{{site.url}}/vam">وام ازدواج</a></li>
              </ul>
            </li>
            <li>طلاق
              <ul>
                <li><a href="{{site.url}}/talagh">مدارک لازم برای ثبت طلاق</a></li>
                <li><a href="{{site.url}}/dadgah">دادگاه‌های خانواده</a></li>
              </ul>
            </li>
            <li><a href="{{site.url}}/moarrefi">معرفی دفترخانه به دیگران</a></li>
            <li><a href="{{site.url}}/dastresi">دسترسی به دفترخانه</a></li>
          </ul>
          <h2>پیوندها</h2>
          <ul>
            <li><a href="http://www.dadiran.ir">قوهٔ قضائیهٔ جمهوری اسلامی ایران</a></li>
            <li><a href="http://www.ssaa.ir">سازمان ثبت اسناد و املاک کشور</a></li>
          </ul>
      </div>
    </div>
    <!--div class="large-8 medium-8 small-8 columns">
      <p>{{content}}</p>
    </div-->
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <medium>
        &copy; کلیهٔ حقوق قانونی این وب‌گاه متعلق به دفترخانهٔ ازدواج ۱۳۲ و طلاق ۶۷ تهران است.
      </medium>
    </div>
  </div>

  <script src="{{site.url}}/foundation/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{site.url}}/foundation/bower_components/foundation/js/foundation.min.js"></script>
  <script src="{{site.url}}/foundation/js/app.js"></script>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-12565715-1");
    pageTracker._setDomainName(".vakilian.org");
    pageTracker._trackPageview();
  } catch(err) {}
  </script>
</body>
</html>
